* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(73, 12, 129);
    overflow: hidden;
}

.box {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
    display: flex;
    background-color: rgb(109, 83, 109);
    width: 50vh;
    height: 50vh;
    border-radius: 20px;
    border: solid 2px white;
    align-items: center;

    box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32) inset;
    -webkit-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32) inset;
    -moz-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32) inset;
    box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32);
    -webkit-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32);
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

a {
    width: fit-content;
    height: fit-content;
    margin: 25px 0px;
    background-color: goldenrod;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32) inset;
    -webkit-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32) inset;
    -moz-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32) inset;
    box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32);
    -webkit-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: 8px 9px 9px -3px rgba(0,0,0,0.32);
}

a:hover {
    background-color: rgb(221, 192, 24);
    color: white
}